doctype html

html(lang = "ru")
    head
        meta(charset = "utf-8")
        meta(name = "viewport", content = "width=device-width,initial-scale=1")
        meta(name = "description", content = "Тестовое задание, KELNIK")

        title Тестовое задание, KELNIK

        link(type = "text/css", rel = "stylesheet", href = "css/normalize.css")
        link(type = "text/css", rel = "stylesheet", href = "css/styles.min.css")
    body
        header(class = "main-header")
            div(class = "main-header__wrapper")
                img(class = "main-header__logo", src = "img/logo.svg", alt = "Логотип")
                nav(class = "main-header__navigation navigation")
                    ul(class = "navigation__list")
                        li(class = "navigation__item")
                            a(class = "navigation__link", href = "#") Объекты
                        li(class = "navigation__item")
                            a(class = "navigation__link", href = "#") Компания
                        li(class = "navigation__item")
                            a(class = "navigation__link", href = "#") Как купить
                        li(class = "navigation__item")
                            a(class = "navigation__link", href = "#") Агентам
                        li(class = "navigation__item")
                            a(class = "navigation__link", href = "#") Регионам
                        li(class = "navigation__item")
                            a(class = "navigation__link", href = "#") Акции
                        li(class = "navigation__item")
                            a(class = "navigation__link", href = "#") Контакты
                a(class = "main-header__phone", href = "tel:8888888898")
                    p(class = "main-header__number") 8 888 88 88 98
                    p(class = "main-header__call") Звони скорее!
        main(class = "main-content")
            div(class = "main-content__wrapper")
                h2(class = "main-content__header") Найдено 666 квартир
                section(class = "main-content__search search")
                    section(class = "search__sorting sorting")
                        p(class = "sorting__type") Сортировать по:
                        p(class = "sorting__price sorting__price--active") Цене
                        p(class = "sorting__rooms") Комнатам
                    ul(class = "search__list")
                    button(class = "search__more") Показать еще 20
                form(class = "main-content__form subscribe")
                    div(class = "subscribe__wrapper")
                        h3(class = "subscribe__header") Успей купить!
                        p(class = "subscribe__info") Подпишись и успей словить все акции
                    div(class = "subscribe__email")
                        input(class = "subscribe__input", type = "email", placeholder = "E-mail", id = "userEmail")
                        button(class = "subscribe__button", type = "submit") Подписаться
                        label(class = "subscribe__news") подписаться на новости
                            input(class = "visually-hidden", type = "checkbox", id = "userNewsletter", checked)
                            span(class = "subscribe__checkbox", tabindex = "0")
        ul(id = "#card-list-template", style = "display:none")
            li(class = "search__item room")
                button(class = "room__favourite")
                ul(class = "room__special-promotion")
                    li(class = "room__special-promotion-item room__special-promotion-item--discount")
                        p(class = "room__discount")
                    li(class = "room__special-promotion-item room__special-promotion-item--shock")
                        p(class = "room__shock") Шок цена!
                div(class = "room__wrapper")
                    div(class = "room__image-block")
                        img(class = "room__image", alt = "План квартиры")
                    h3(class = "room__header") Студия №44
                    div(class = "room__properties")
                        p(class = "room__furnish") без отделки
                        div(class = "room__area")
                            p(class = "room__area-square") #[span(class = "room__area-count") 28] м#[sup 2]
                            p(class = "room__area-content") площадь
                        div(class = "room__floor")
                            p(class = "room__floor-count") 12/14
                            p(class = "room__floor-content") этаж
                    p(class = "room__price") 1 900 000 руб.
                p(class = "room__status") Забронировано
        script(src = "js/script.js")