.main-content
  background-color #faf9ef

.main-content__wrapper
  width 100%
  max-width 1388px
  padding 65px 54px 100px 54px
  margin 0 auto
  box-sizing border-box

.main-content__header
  padding-left 170px
  margin 0
  margin-bottom 60px
  font-family "OpenSans Regular", "Open Sans", serif
  font-weight 600
  font-size 48px
  color #002f2f