.main-header
  background-color #002f2f

.main-header__wrapper
  max-width 1814px
  padding 18px 107px 18px 54px
  margin 0 auto
  display flex
  justify-content space-between
  align-items center
  box-sizing border-box

.main-header__phone
  text-decoration none


.main-header__number
  padding 0
  margin 0
  font-family "OpenSans Regular", "Open Sans", serif
  font-size 32px
  color #fefefe

.main-header__call
  padding 0
  margin 0
  font-family "OpenSans Regular", "Open Sans", serif
  font-size 20px
  color #fefefe
