.search
  width 100%
  padding 25px 107px 75px 107px
  margin-bottom 70px
  background-color #fffefd
  box-sizing border-box

.search__list
  padding 0
  margin 0
  margin-bottom 50px
  display flex
  flex-wrap wrap
  list-style none

.search__item
  margin-right 5%
  margin-bottom 54px

  &:nth-child(3n)
    margin-right 0

.search__more
  width 50%
  min-height 72px
  padding 0
  margin 0 auto
  font-family "OpenSans SemiBold", "Open Sans", serif
  font-size 14px
  letter-spacing 0.08em
  text-transform uppercase
  color #ffffff
  border none
  background-color #046380
  display block
  cursor pointer