.sorting
  margin-bottom 35px
  display flex

.sorting__type
  margin 0
  margin-right 10px
  font-family "OpenSans Regular", "Open Sans", serif
  font-size 14px
  color #002f2f
  opacity 0.7

.sorting__price
  margin 0
  margin-right 18px
  font-family "OpenSans Regular", "Open Sans", serif
  font-size 14px
  color #002f2f
  opacity 0.7

  &--active
    border-bottom 1px dashed #849cb2

.sorting__rooms
  margin 0
  font-family "OpenSans Regular", "Open Sans", serif
  font-size 14px
  color #002f2f
  opacity 0.7

  &--active
    border-bottom 1px dashed #849cb2